.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* flex-direction: column; */
  margin: 5px 0px;
  padding: 5px;
  /* align-items: start; */
  background-color: grey;
  /* border-radius: 16px; */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
}

.titleContainer {
  flex: 1;
  display: "flex";
}
.pTitle {
  font-size: 30px;
  font-weight: bold;
}
.inputcontainer {
  flex: 1;
  display: "flex";
  align-items: "center";
  justify-content: "flex-end";
}
input {
  font-size: 16;
  padding: 6px 12px;
  border-radius: 8%;
  border: "none";
  width: 200;
  margin-right: 20px;
  align-items: center;
}

.perfilLink {
  color: #fff;
  text-decoration: none;
}
